# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Test and local artifacts
*.xcresult
outputs/
work/

# macOS
.DS_Store
